<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header"></head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="fragments :: spinner"></div>


    <!-- Sidebar Start -->
    <div th:replace="fragments :: sidebar"></div>


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="fragments :: navbar"></nav>

        <!-- Form Start -->
        <h3 class="mb-4">Add Item</h3>
        <form th:action="@{/save-item}" th:object="${itemDto}" enctype="multipart/form-data" method="post">

            <div class="mb-3">
                <label for="itemName" class="col-sm-2 col-form-label">Item Name</label>
                <div class="col-sm">
                    <input th:field="*{itemName}" type="text" class="form-control" id="itemName" required>
                </div>
                <div class="alert alert-danger" th:errors="*{itemName}"
                     th:if="${#fields.hasErrors('itemName')}"></div>
            </div>

            <div class="mb-3">
                <label for="itemPrice" class="col-sm-2 col-form-label">Item Price</label>
                <div class="col-sm">
                    <input th:field="*{itemPrice}" type="text" class="form-control" id="itemPrice" required>
                </div>
                <div class="alert alert-danger" th:errors="*{itemPrice}"
                     th:if="${#fields.hasErrors('itemPrice')}"></div>
            </div>

            <div class="mb-3">
                <label for="itemWeight" class="col-sm-2 col-form-label">Item Weight</label>
                <div class="col-sm">
                    <input th:field="*{itemWeight}" type="text" class="form-control" id="itemWeight" required>
                </div>
                <div class="alert alert-danger" th:errors="*{itemWeight}"
                     th:if="${#fields.hasErrors('itemWeight')}"></div>
            </div>

            <label for="categories" class="form-label">Item Category</label>
            <select th:field="*{categoryDao}" class="form-select mb-3" aria-label="Default select example"
                    id="categories" name="categories">
                <option th:value="null">SELECT ONE</option>
                <option th:each="category : ${categories}"
                        th:text="${category.categoryName}"
                        th:value="${category.id}">
                </option>
            </select>

            <!-- File Button -->
            <div class="mb-3">
                <label for="file" class="form-label">Item Image</label>
                <input class="form-control" type="file" id="file" name="file">
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
        <!-- Form End -->


        <!-- Footer Start -->
        <div th:replace="fragments :: footer"></div>
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a th:replace="fragments :: top"></a>

</div>

<div th:replace="fragments :: script"></div>

</body>

</html>