<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header"></head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="fragments :: spinner"></div>


    <!-- Sidebar Start -->
    <div th:replace="fragments :: sidebar"></div>


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="fragments :: navbar"></nav>

        <!-- Form Start -->
        <form class="form-horizontal" enctype="multipart/form-data" method="post" th:action="@{/save-item}"
              th:object="${itemDto}">
            <fieldset>

                <!-- Form Name -->
                <legend>ADD ITEMS</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="itemName">ITEM NAME</label>
                    <div class="col-md-4">
                        <input class="form-control input-md" id="itemName" name="itemName" placeholder="ITEM NAME"
                               required="" th:field="*{itemName}" type="text">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="itemPrice">ITEM PRICE</label>
                    <div class="col-md-4">
                        <input class="form-control input-md" id="itemPrice" name="itemPrice" placeholder="ITEM PRICE"
                               required="" th:field="*{itemPrice}" type="text">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="itemWeight">ITEM WEIGHT</label>
                    <div class="col-md-4">
                        <input class="form-control input-md" id="itemWeight" name="itemWeight" placeholder="ITEM WEIGHT"
                               required="" th:field="*{itemWeight}" type="text">

                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="categories">ITEM CATEGORY</label>
                    <div class="col-md-4">
                        <select class="form-control" id="categories" name="categories" th:field="*{categoryDao}">
                            <option th:value="null">SELECT ONE</option>
                            <option th:each="category : ${categories}"
                                    th:text="${category.categoryName}"
                                    th:value="${category.id}">
                            </option>
                        </select>
                    </div>
                </div>

                <!-- File Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="file">ITEM IMAGE</label>
                    <div class="col-md-4">
                        <input class="input-file" id="file" name="file" type="file">
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </fieldset>
        </form>
        <!-- Form End -->


        <!-- Footer Start -->
        <div th:replace="fragments :: footer"></div>
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a th:replace="fragments :: top"></a>

</div>

<div th:replace="fragments :: script"></div>

<script th:src="@{/js/categories.js}"></script>

</body>

</html>