<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header"></head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="fragments :: spinner"></div>


    <!-- Sidebar Start -->
    <div th:replace="fragments :: sidebar"></div>


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="fragments :: navbar"></nav>

        <!-- Form Start -->
        <h3 class="mb-4">Update Category</h3>
        <form th:action="@{/update-category/{id} (id = ${categoryDto.id})}" th:object="${categoryDto}" method="post">

            <div class="mb-3">
                <label for="categoryName" class="col-sm-2 col-form-label">Category Name</label>
                <div class="col-sm">
                    <input th:field="*{categoryName}" type="text" class="form-control" id="categoryName" required>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
        <!-- Form End -->


        <!-- Footer Start -->
        <div th:replace="fragments :: footer"></div>
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a th:replace="fragments :: top"></a>

</div>

<div th:replace="fragments :: script"></div>

</body>

</html>